
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.menu {
    position: fixed;
    background-color: #191718;
    width: 150px;
    height: 935px;
}
.menu ul {
    list-style-type: none;
}
.menu ul li {
    height: 44px;
    width: 150px;
    position: relative;
    border: 1px solid #5C5C5C;
}
.menu ul li a {
    color: #AAAAAA;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
    position: absolute;
    height: 19px;
    left: 16px;
    top: 14px;
}
.menu .wht a {
    color: #FFFFFF;
    width: 43px;
}
.header {
    display: flex;
    justify-content: center;
}
.logo img {
    margin-top: 20px;
    margin-left: 150px;
    width: 310px;
    height: 122px;
}
.main1 {
    margin-top: 30px;
    margin-left: 279px;
    margin-right: 129px;
    text-align: center;
    background-color: #EFEFEF;
}
.main1 h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-top: 38px;
    padding-bottom: 18px;
    color: #000000;
}
.main1 p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 129px;
    padding-right: 129px;
    padding-bottom: 38px;
    color: #000000;
}
.main2 {
    display: flex;
    gap: 50px;
    margin-left: 279px;
    margin-right: 129px;
    margin-top: 40px;
    margin-bottom: 153px;
}
.main2 h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.main2 p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.main2 img {
    height: 128px;
    width: 128px;
}
.main2 .col {
    float: left;
}
.main2 .col:last-child {
    float: right;
}
.main2 .col img {
    float: left;
    margin-right: 16px;
}
.footer {
    margin-left: 297px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #3E3E3E;
}

